<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    
   	  <class name="com.mobile.testscripts.alertViews.AlertTitle"/>
   	  <class name="com.mobile.testscripts.alertViews.CancelAlert"/>
   	  <class name="com.mobile.testscripts.alertViews.OtherAlertView"/>
   	  <class name="com.mobile.testscripts.segmentedControls.DefaultValuesSegmentedControls"/>
   	  <class name="com.mobile.testscripts.segmentedControls.CheckTintedSegments"/>
   	  <class name="com.mobile.testscripts.segmentedControls.ToolsTintedSegments"/>
      <class name="com.mobile.testscripts.segmentedControls.SearchTintedSegments"/>
      <class name="com.mobile.testscripts.segmentedControls.SearchCustomSegments"/>
      <class name="com.mobile.testscripts.segmentedControls.SettingsCustomSegments"/>
      <class name="com.mobile.testscripts.segmentedControls.DoneCustomSegments"/>
      <class name="com.mobile.testscripts.textFields.TextFieldsValues"/>
    
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
